body{padding: 0; margin:0}
/* .container{padding: 0; margin: 0; height: 200px; background-color: rgb(5 40 14); color: white; text-align: center} */
/* .container h1{padding-top:80px} */

.navItems a{text-decoration: none;} 


.conTest ul li a{text-decoration: none;}
span{display: none;}

.col_cls{margin: 20px 0; text-align: center; background-color: red; color: rgb(255, 255, 255);}

.text-decoration{text-decoration: underline;}

.box {
    width: 250px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid #333;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    margin: 50px auto;
    user-select: none;
    transition: 0.5s;
  }
  #inputBox {
    display: block;
    margin: 50px auto;
    padding: 10px;
    font-size: 18px;
    width: 300px;
  }

  /* Section 4 */

.keyboardEventTitle {
    color: #333;
    transition: color 0.3s ease;
  }
#keyboardEvent {
  color: crimson;
  font-size: 24px;
  margin-top: 10px;
}

/* Drag & Drop Events */
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.box {
  width: 150px;
  height: 150px;
  border: 3px dashed #999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #555;
}
.drag-item {
  background-color: #00aaff;
  color: white;
  cursor: grab;
}
.highlight {
  border-color: green;
  background-color: #e0ffe0;
}   

/* form.js */
.color {color: red;}

.grandparent{width: 300px; height: 300px; background-color: orange;}
.parent{width: 200px; height: 200px; background-color: orangered;}
.child{width: 100px; height: 100px; background-color: red;}