body{padding: 0; margin:0}
.container{padding: 0; margin: 0; height: 200px; background-color: rgb(5 40 14); color: white; text-align: center}
/* .container h1{padding-top:80px} */

.navItems a{text-decoration: none;} 